<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" >
 <test name="First Test">
     <classes>
        <class name="InvocationTest.InvocationCountTest">
            <methods>
                <include name="RandomUser"/>
            </methods>
       </class>
     </classes>
  </test>
</suite>